

body{
    height:100%;
    margin:0%;
    padding:0;
    
}
#register{
    display:flex;
    flex-flow: column;
    
}
#topRow{
    flex-grow:1;
    display:flex;
    flex-flow: row;
    height:50vh;
}
#mainMenu{
    flex-grow:1;
    background-image: linear-gradient(rgb(12, 94, 12),rgb(99, 233, 99));
    border-style:ridge;
    display:flex;
    flex-flow:column;
    
    height:50vh;
    
    
   
   
    
}

/* #money{
    height:60px;
    margin-top:5px;
    margin-left:3px;
} */
/* calc stuff */
#calc{
    background-image:linear-gradient(to left,rgb(4, 90, 4),rgb(157, 243, 157));
    border-style:ridge;
    
    width:300px;
    flex-grow: 1;
    
}
#screen{
    /* margin-top:-65px; */
    font-size:65px;
    border: solid;
    border-width: 1px;
    text-align:right;
    background-color:black;
    color:white;


}
#row1{
    margin-top:1%;
}
#row1, #row2, #row3, #row4, #row5{
    display:flex;
    flex-flow:row;
    justify-content: center;
    justify-content: space-evenly;
    
    
    
}

.nums, .opt{
    font-size:25px;
}
.nums, .opt, .bank{
    width:15%;
    flex-grow:1;
    margin:1%;
    
}
.bank{
    font-weight:bold;
}
#clear{
    font-size:15px;
    width:19%;
    font-weight: bold;
}

/* cart stuff */

#cartScreen{
    /* background-image: linear-gradient(to left,rgb(157, 243, 157),rgb(4, 90, 4)); */
    background-color: black;
    color:white;
    border-style:ridge;
    width:300px;
    flex-grow: 1;
    display:flex;
    flex-flow:column;

}
#cart{
    flex-grow:5;
    overflow:scroll;
}
#bottomCart{
    font-size: 40px;
    display:flex;
}
.itemBox{
    border:solid;
    border-width: 1px;
    height:5%;
    display:flex;
    flex-flow:row;
    font-size:22px;
}
.order{
    
    text-align: center;
    flex-grow:1;
}

#total{
    flex-grow:1;
    text-align: right;
    
}






/* bottom menu stuff  */

#rowOne, #rowTwo, #rowThree{
    display:flex;
    flex-flow:row;
    justify-content: space-evenly;
    margin-top:1.5%;
}
.menu{
    height:80px;
    width:140px;
    font-size:15px;
}

button{
    border-radius:5px;
    background-image:linear-gradient(to bottom right,rgb(143, 139, 139),white)
}

